{% load i18n %}
{% load static %}
{% load form_tags %}
{% block body %}
  <div class="container d-flex justify-content-center my-3">
    <div>
      <h3>{% translate "Filter Properties" %}</h3>
      <form method="post" class="mt-3" id="filter-rei-data-form">
        {% csrf_token %}
        <input type="text" class="form-control bg-light border-0 small"
                placeholder="Number of Bedrooms" aria-label="Search"
                aria-describedby="basic-addon2" name="num-bedrooms" id="num-bedrooms">
        <br><br>
        <input type="text" class="form-control bg-light border-0 small"
                placeholder="Number of Bathrooms" aria-label="Search"
                aria-describedby="basic-addon2" name="num-bathrooms" id="num-bathrooms">
        <br><br>
        <input type="submit" value="Submit" class="btn btn-primary w-100">
        </a>
      </form>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.js" 
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
            crossorigin="anonymous"></script>
  
    <script type="text/javascript">
      $(document).on('submit','#filter-rei-data-form', async function(e) {
        e.preventDefault();
        var request = await $.ajax({
            type:'POST',
            dataType: 'json',
            url:'{% url "mydata" %}',
            data:
            {
                numBedrooms:$("#num-bedrooms").val(),
                numBathrooms:$("#num-bathrooms").val(),
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
            },
          });
          initMap(request)
        });
        
    </script>
    <script>
      $(document).ready(function(){
          $.ajax({
              url: "{% url 'mydata'%}",
              method: 'POST',
              success: function (data) {
                  console.log('enjoy the moment');
                  initMap(data);
              }
        });
      });
  
      function initMap(data) {
          console.log('lol')
         const map = new google.maps.Map(document.getElementById('map'), {
            zoom: 11,
            {% comment %} center: {lat: 27.8338925, lng: -82.7176579} {% endcomment %}
            center: {lat: 27.9621443, lng: -82.4584448}
         });
         console.log(map)
         const markers = data?.map((i) => {
              const marker = new google.maps.Marker({
                  position: { lat: parseFloat(i.latitude), lng: parseFloat(i.longitude)},
                  map: map,
                  title: i.title
              })
          });
  
       }
    </script>
{% endblock %}
